<h1>Welcome to Palindrome Bitches!</h1>
<h3>Verify if your word is a palindrome. ...Or not.</h3>

<form action="/results">
  <div class="form-group">
     <label for="word">Enter your word here:</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-warning btn-lrg">It be a Palindrome Bitch?</button>
</form>
